* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Thicccboi, sans-serif;
  color: #36444f;
  font-size: 16px;
  line-height: 1.667em;
  font-weight: 500;
}
ul {
  margin-bottom: 42px;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 14px;
}
li img {
  border-radius: 50%;
}
li a {
  text-decoration: none;
  color: #6f7f96;
  list-style: none;
  font-size: 16px;
  font-family: Thicccboi, sans-serif;
  line-height: 1.667em;
  font-weight: 500;
  flex: 1;
  margin-left: 10px;
}
.pricing__container {
  max-width: 1280px;
  margin: 0 auto;
}
.price {
  max-width: 450px;
  margin: 80px auto;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}
.price a {
  background-color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #36444f;
  text-decoration: underline;
}

form,
.btn {
  display: flex;
  align-items: center;
  min-height: 56px;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #d5d9e0;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  font-size: 20px;
}

select#select {
  min-height: 56px;
  width: 100%;
  border: none;
  font-size: 20px;
  min-height: 56px;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  border: 0 solid #000;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #6f7f96;
  font-size: 18px;
}
select#select:focus {
  outline: none;
}
.image.card-plan-item-feature-icon {
  width: 29px;
  max-height: 29px;
  min-height: 29px;
  min-width: 29px;
  border-radius: 1000px;
}
.card p {
  color: #6f7f96;
  font-size: 24px;
  font-weight: 700;
}
.btn--primary {
  padding: 18px 40px;
  border: 1px solid #46b5bf;
  border-radius: 1000000px;
  background-color: #46b5bf;
  color: #fff;
  line-height: 0.8em;
  font-weight: 700;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 16px;
}
.image__card {
  max-width: 130px;
  margin-bottom: 29px;
}
.pricing__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card h2 {
  margin-top: 0;
  margin-bottom: 16px;
  color: #36444f;
  font-size: 38px;
  line-height: 1.289em;
  font-weight: 700;
}
.pro__card p {
  color: #36444f;
}
.card--pro {
  margin-top: -50px;
}
.card h3 {
  margin-top: 0px;
  margin-bottom: 28px;
  color: #36444f;
  font-size: 24px;
  line-height: 1.375em;
  font-weight: 700;
}
.card {
  padding: 32px 36px 20px;
  color: #6f7f96;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f3f5f8;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgb(25 55 101 / 4%);
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
  border: 1px solid gray;
}
@media only screen and (max-width: 479px) {
  .pricing__card {
    grid-template-columns: repeat(1, 1fr);
  }
  .price{
    padding: 23px 25px 33px;
    margin: 0px auto;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
  }
  .price h1{
    margin-bottom: 10px
  }
  .price p{
    margin-bottom: 10px;
    text-align: center;
  }
  .card {
    margin: 12px 16px;
  }
  .image__card{
    max-width: 108px;
    margin-bottom: 15px;
  }
  .card h2 {
    font-size: 26px;
    margin-bottom: 4px;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px){

}